.wrapper {
  width: 420px;
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.input-box ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.5px;
  margin: 10px 0 15px;
  gap: 10px;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 4px;
  margin-bottom: 10px;
}

.remember-forgot a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: white;
  color: slateblue;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
